<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Land of Boxes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="sup">
    <center>
        <h1>Amazon</h1>
    <h3 class="prod">Order Details</h3>
    <form action="" class="first">
    <table class="items1">
        <form class="items2">
            <tr>
                <td>Items</td>
                <td>
                    <select>
                        <option>Select Items</option>
                        <option>Phone</option>
                        <option>Laptop</option>
                        <option>Furniture</option>
                        <option>Dress</option>
                    </select>
                </td>
            </tr>
        </form>
    </table>
    <table class="contact">
        <form class="name">
            <tr>
                <td>Name</td>
                <td><input type="text" placeholder="Enter your name" required></td>
            </tr>
            <tr>
                <td>Telephone No</td>
                <td><input type="tel" placeholder="Enter your Telephoneno" required></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><input type="email" placeholder="Enter your E-mail" required></td>
            </tr>
        </form>
    </table>
    <h3>Product Details</h3>
    <table class="Product">
        <form class="pro_name">
            <tr>
                <td>Product Name</td>
                <td>
                    <select>
                        <option>Mobiles(1989383)</option>
                        <option>Grocery(1989898)</option>
                        <option>Fashion(1988978)</option>
                        <option>Electronics(1999878)</option>
                        <option>Appliances(1984252)</option>
                    </select>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>

                    </select>
                </td>
            </tr>
        </form>
    </table>
    <h3>Payment Details</h3>
    <table class="Payment">
        <form class="pay_name">
            <tr>
                <td>Card Type</td>
                <td>
                    <select>
                        <option>Debit Card</option>
                        <option>Credit Card</option>
                        <option>UPI/ONLINE BANKING</option>
                    </select>
                    <tr>
                        <td>Card no</td>
                        <td><input type="none" placeholder="Enter Your Card no" maxlength="12"></td>
                    </tr>
                    <tr>
                        <td>Expiry Date</td>
                        <td><input type="datetime-local"></td>
                    </tr>
                </td>
            </tr>
        </form>
    </table>
    <h3>Address</h3>
    <table class="address" id="address">
        <form class="bill_add">
            <tr>
                <td>Billing Address</td>
                <td><textarea placeholder="Enter Your Billing Address"></textarea></td>
            </tr>
            <tr>
                <td>Delivery Address</td>
                <td><textarea placeholder="Enter Your Delivery Address"></textarea></td>
            </tr>
        </form>
    </table>
    <tr>
        <td><button>Submit</button></td>
    </tr>
</form>
</center>
</form>
</body>
</html>